/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* FULL PAGE */
html, body {
  height: 100%;
  width: 100%;
  background-color: #0f172a;
}

body {
  min-height: 100vh;
}

/* FULL BACKGROUND */
.login-page {
  min-height: 100vh;
  width: 100%;
  margin-left: 200px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* MAIN CARD */
.login-card {
  width: 100%;
  max-width: 950px;
  min-height: 550px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.4);
  background: white;
}

/* LEFT SIDE IMAGE */
.login-left {
  flex: 1;
  background: url("./assets/company.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
}

/* DARK OVERLAY */
.overlay {
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  padding: 60px 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* SOCIAL BUTTONS */
.social-buttons {
  display: flex;
  gap: 15px;
}

.fb-btn,
.tw-btn {
  padding: 10px 22px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.fb-btn {
  background: #3b5998;
}

.tw-btn {
  background: #1da1f2;
}

/* RIGHT SIDE FORM */
.login-right {
  flex: 1;
  background: #f9f9f9;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right h2 {
  font-size: 28px;
  margin-bottom: 40px;
}

/* INPUT */
.input-group {
  margin-bottom: 25px;
}

.input-group label {
  font-size: 14px;
  color: #555;
}

.input-group input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #4a5a8a;
  background: transparent;
  padding: 8px 0;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  border-bottom: 2px solid #1e3a8a;
}

/* BUTTON */
.login-btn {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: #4a5a8a;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #1e3a8a;
}

/* REGISTER TEXT */
.register-text {
  font-size: 15px;
  text-align: center;
}

span {
  color: #1e3a8a;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 900;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
  .login-card {
    flex-direction: column;
  }

  .login-left {
    height: 250px;
  }

  .login-right {
    padding: 40px 30px;
  }
}